.section {
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.button {
  background: none;
  border: none;
  color: #34c94b;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.grid {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.tab {
  color: white !important;
  text-transform: none;
  font-weight: 500;
}
.indicator {
  background-color: #34c94b !important; 
  height: 3px;
}
:global(.MuiTabs-root) {
  min-height: unset !important;
  margin-bottom: 20px; 
}